h1 {
    font-size: 300%;
    font-weight: 1;
    font-family: 'Raleway';
    margin-top: 30vh;
}

form {
    margin-top: 5%;
}

.autocomplete-suggestions {
    border-radius: 0 0 5px 5px;
    display: block !important;
}

.autocomplete-suggestion {
    background: #F5F5F5;
    color: #666;
    position: relative !important;
}

.autocomplete-suggestion b {
    color: #F50064;
}


@media all and (max-width:800px) {
    body {
        background: url("../img/homepage_bg_min.jpg") no-repeat center center fixed;;
        background-size: cover;
        font-family: 'Raleway', sans-serif;
        z-index: -1;
        position:relative;
        overflow: hidden;
        text-align: center;
    }
}


.flex-form input[type="submit"] {
    font-family: FontAwesome, "Raleway", Verdana, sans-serif;
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fcfffc;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
}

.flex-form {
    background: #fcfffc;
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 120%;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fcfffc;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    flex-basis: 600px;
    width: 100%;
    margin-left: 10%;
}

input:invalid {
    box-shadow: none;
}

@media all and (max-width:800px) {
    body {
        font-size: 0.9rem;
    }

    .flex-form {
        width: 100%;
    }

    input[type="search"] {
        flex-basis: 100%;
    }

    .flex-form > * {
        font-size: 0.9rem;
    }

    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 10px !important;
    }

    header h2 {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .cover {
        padding: 20px;
    }
}

@media all and (max-width:800px) {
    header nav li{
        margin: 0 10px;
    }

    .flex-form {
        background: #fcfffc;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    input[type="search"] {
        flex-basis: 0;
    }

    label {
        display: none;
    }

}

.form_address {
    padding-left: 47px;
}

div.cover h1 {
    text-align: center;
    color: #fcfffc;
    font-size: 220%;
}

#location {
    color: #A9A9A9;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.75em;
    margin-left: 8px;
    position: absolute;
    margin-right: -7px;
}

.search_container {
    text-align: center;
    float: left;
    margin-left: 62%;
}