

body {
    background-image: url("../images/homepage_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3em;
    font-weight: 1;
    font-family: 'Raleway';
    margin-top: 20%;
    margin-left: 70%;
}