body {
    background: url("../img/playerpage_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

h1.playername {
    font-weight: 100;
    text-align: center;
    margin-top: 3%;
    font-size: 250%;
}

.chart-container {
    margin-top: 1%;
    float: left;
    width: 45%;
    margin-left: 5%;
}

.stats-container {
    margin-top: 1%;
    float: left;
    width: 35%;
    border-left: 2px solid lightgrey;
}

.stats-container > * {
    padding-left: 20%;
}