body {
    background: url("../images/playerpage_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

h1.playername {
    font-weight: 100;
    text-align: center;
    margin-top: 3%;
    font-size: 250%;
}