{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <h1>Browser</h1>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.player(class="search_input", type="text", placeholder="Search player", pattern="") }}
            <input type="submit" class="search_validate" value=" ">
        </form>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
    <script>var players_list = Array.from({{ players_list|safe }}); var players_pattern = {{ players_pattern|tojson }};</script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
