{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% for attr in attributes %}
        {{ attr }}
    {% endfor %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>var players_list = Array.from({{ players_list|safe }}); var players_pattern = {{ players_pattern|tojson }};</script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}