{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="dashboard">
        <a class="btn" href="/"><i class="fa fa-arrow-left"></i>&nbsp&nbspHome</a>
        <h1 class="playername"><a>{{ attributes['Name'] }}&nbsp</a><img src="{{ attributes['Photo'] }}" width="4%"></h1>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <div class="stats-container">
            <div class="overall"><a>Overall <strong>{{ attributes['Overall'] }}</strong></a></div>
            <div class="potential"><a>Potential <strong>{{ attributes['Potential'] }}</strong></a></div>
            <div class="other">
                <li class="label"><a>Age&nbsp&nbsp&nbsp<strong>{{ attributes['Age'] }}</strong></a></li>
                <li class="label"><a>Height&nbsp&nbsp&nbsp<strong>{{ attributes['Height'] }}&nbsp&nbsp-&nbsp&nbsp{{ (0.3048*attributes['Height'].replace("'", ".")|float)|round(2) }}m</strong></a></li>
                <li class="label"><a>Weight&nbsp&nbsp&nbsp<strong>{{ attributes['Weight'] }}&nbsp&nbsp-&nbsp&nbsp{{ (0.453592*attributes['Weight'][:-3]|int)|int }}kg</strong></a></li>
                <li class="label"><a>Preferred Foot&nbsp&nbsp&nbsp<strong>{{ attributes['Preferred Foot'] }}</strong></a></li>
                <li class="label"><a>Position&nbsp&nbsp&nbsp<strong>{{ attributes['Position'] }}</strong></a></li>
                <li class="label"><a>Jersey Number&nbsp&nbsp&nbsp<strong>{{ attributes['Jersey Number']|int }}</strong></a></li>
                <li class="label"><a>Weak Foot&nbsp&nbsp&nbsp</a>
                    {% for i in range(attributes['Weak Foot']|int) %}
                        <img class="image_risk" src="{{ url_for('static', filename='img/star.svg') }}" width="4%">
                    {% endfor %}
                </li>
                <li class="label"><a>Skill Moves&nbsp&nbsp&nbsp</a>
                    {% for i in range(attributes['Skill Moves']|int) %}
                        <img class="image_risk" src="{{ url_for('static', filename='img/star.svg') }}" width="4%">
                    {% endfor %}
                </li>
                <li class="label"><a>Work Rate (Attack - Defense)&nbsp&nbsp&nbsp<strong>{{ attributes['Work Rate'] }}</strong></a></li>
                <li class="label"><a>International Reputation&nbsp&nbsp&nbsp</a>
                    {% for i in range(attributes['International Reputation']|int) %}
                        <img class="image_risk" src="{{ url_for('static', filename='img/star.svg') }}" width="4%">
                    {% endfor %}
                </li>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>var attributes = {{ attributes|safe }}</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.js"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}